@import 'material-icons/iconfont/material-icons.css';

 tr {
    
    text-align: center;
    border: 1px solid gainsboro;
    border-style: none none none double;
}

th{
    background-color:#d3d3d32e;
   
}
table{
    box-shadow: 10px 10px 5px  gainsboro;
}

button {
    color: red;
}

.gradient-custom-2 {
    
    /* fallback for old browsers */
    background: #fccb90;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);

    box-shadow: 10px 10px 5px  gainsboro;
}